
.leftBarContainer{
  background-color: #F5F5F5;
  z-index: 1;
  position:absolute;
  width: 30%;
  padding: 20px;
  top:6%;
  height: 100%;
  left: 0;
}

.headLeftBarContainer img{
    float: left;
    width: 200px;
    height: 175px;
}
.headLeftBarContainer h2 {
  padding-top: 15px;
}
.headLeftBarContainer{
  margin-top: 50px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  background-color: white;
  height: 175px;
  font-size: 16px;
}
.ml38{
    margin-left: 38%;
}
.ml30{
  margin-left: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb-mt15{
    margin-bottom: 15px;
    margin-top: 15px;
}
.mt10{
  margin-top: 10px;
}
.price{
  color: white;
  border-radius: 10px;
  background-color: #ff513f;
  margin-left: 38%;
  width: 30%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50%;
}

.bodyLeftBarContainer{

  margin-top: 10px;
  padding: 20px;
  background-color: white;
}

.blockContainer {


  width:150px;
  height: 50px;
  background-color: #ff513f;
  color: white;
  text-align: center;
}
.ml15 {
  margin-left: 15px;
}
.footLeftBarContainer{
  margin-top: 10px;
  background-color: white;
  padding: 10px;
}

.logoFootLeftBar {
  width: 75px;
  height: 75px;
}

.bodyLeftBarContainer table {
        border-collapse: separate;
        border-spacing: 20px 15px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}
.leftFloat {
  float: left;
}
.infoAgency table{
  border-collapse: separate;
  border-spacing: 10px 10px; /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}
.infoAgency {
  margin-left: 45%;
  /* margin-top: 10%; */
}
.infoAgency span{
  font-size: 17px;
}
.return {
  position:absolute;
  margin-left: 10px;
  z-index: 50;
  width: 15%;
  top: 70px;
  left: 0;
}
.mr12{
  margin-right: 12px;
}
.headLeftBarContainer table {
  position: absolute;
  margin-left: 35%;
}
.body-logo {
  width: 200px;
  height: 100px;
}

.social{
  padding: 15px;
}

.visite-store{
  margin-top: 3%;
  position: absolute;
  text-decoration: underline;
}
.plus {
  margin-top: 3%;
  position: absolute;
  margin-left: 50%;
}
.plus-immobavle {
  margin-top: 3%;
  position: absolute;
  margin-left: 45%;
  /* right: 0px;
  bottom: 0px;
  position: relative; */
}
.partager {
  margin-left: 4%;
  margin-top: 5%;
  /* border-top-width: 5px; */
  /* padding-top: 5px; */
  opacity: 1;
  font-size: 18px;
  margin-bottom: 0px;
}
