.mainVr {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}
#menuVR{
  position: absolute;

  bottom: 0;
  color: white;
  text-align: center;
  background-color: rgba(65, 65, 65, 0.2);
  width: 100%;
  z-index: 10000;
}
.menuVR > ul > li {
  display: inline-block;
}
.menuVR a:focus, a:active {
  color: white;
}
.ctl{
  color: white;
  font-size: 18px;
  /* width: 40px;
  height: 40px; */
}
.screenCtl {
  left: 59%;
  margin-bottom: 5px;
  bottom: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  top: 0px;
}
.visite-immovable {

    margin-top: 3%;
    position: absolute;
    text-decoration: underline;
}

.plus-immobavle {
  margin-top: 3%;
  position: absolute;
  margin-left: 45%;
  /* right: 0px;
  bottom: 0px;
  position: relative; */
}
.menuRigthList {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  /* left: 95%; */
  right: 0;
  background-color: rgba(65, 65, 65, 0.2);
  z-index: 9999999;
}
.toggleDeviceOrientationBot {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  z-index: 9999999;
}

.toggleDeviceOrientationBot img {
  width: 34px;
  margin: 8px;
}

/* #toggleDeviceOrientationBot .disable {
  display: none;
}

#toggleDeviceOrientationBot .disable {
  display: none;
}

#toggleDeviceOrientationBot .enable {
  display: block;
} */

#enable {
  display: block;
}
#disable {
  display: none;
}
.toggleDeviceOrientation {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  z-index: 9999999;
}

.toggleDeviceOrientation img {
  width: 34px;
  margin: 8px;
}

.toggleDeviceOrientation .disable {
  display: none;
}

.toggleDeviceOrientation .disable {
  display: none;
}

.toggleDeviceOrientation .enable {
  display: block;
}

.information {
  position: absolute;
  display: block;
  color: white;
  top: 0;
  left:0;
  width: 30%;
  height: 14%;
  background-color: rgba(65, 65, 65, 0.2);
  z-index: 9999999;
  margin: 10px;
}
.verticalBar {
  text-align: center;
  background-color: white;
  height: 60%;
  padding-top: 3%;
  padding-bottom:3%;
  width: 3px;
  margin-left: 55%;
  top: 5%;
  position: absolute;
  z-index: 999999999;
}
.title{
  top: 5%;
  font-size: 50px;
}
.detail-information {
  color: white!important;
  top: 10%;
  position: absolute;
  left: 60%;
}
.logo-tspa {
  width: 280px;
  margin-left: 10px;
  margin-top: 6px;
}
.detail-information p {
  line-height: 130%;
}
#collapse {
  display: block;
}
#expand {
  display: none;
}
